<h1>
  {{title}}
</h1>
<!--<button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">-->
<button [disabled]="isDisabled" class="subscribe-btn" (click)="onClickSubscribe()">
    {{ subscribeButtonText }}
</button>
<button (click)="onClickChangeUserLevel('admin')">
    admin
</button>
<button (click)="onClickChangeUserLevel('user')">
    user
</button>
<button (click)="sendPushOnRegister()">
    Register
</button>
<button (click)="sendPushOnMessage()">
    Chat Message
</button>
<h3>Subscription Data</h3>
<div *ngIf="displaySubscribe && subscribeInfo">
  {{ subscribeInfo }}
</div>
